ENV/
data/
.idea/
__pycache__
.ipynb_checkpoints
.vscode/
*.log
*.iml
*.out
Peerster.exe
_SharedFiles/
_SharedFiles1/
_SharedFiles2/
_SharedFiles3/
_SharedFiles4/
_SharedFiles5/
_Downloads/
_Downloads1/
_Downloads2/
_Downloads3/
_Downloads4/
_Downloads5/
