#messages,
#peerNodes,
#allNodes,
#privateMessages{
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 10px;
}

#idBox,
#chatBox,
#peerNodeBox,
#allNodesBox {
    border: black solid 1px;
    padding: 10px 25px;
}

#title,
#idBox {
    margin: auto;
}

#newPeerNode {
    width: auto;
}

#newMessage,
#newPrivateMessage {
    width: 70%;
}

.helpNodes {
    font-size: 10px;
    color: black;
}

.knownNode {
    cursor: pointer;
}

.knownNode:hover {
    background-color: #80bdff;
}
#privateMessageModal .modal-body {
    margin: 0 10px;
}
